<launch>
  <node pkg="qualisys"
    type="qualisys_node"
    name="qualisys"
    output="screen">
    <param name="server_address" value="140.93.16.160"/>
    <param name="base_port" value="22222"/>
    <param name="publish_tf" value="false"/>
    <param name="publish_subject" value="true"/>
    <param name="publish_pose" value="true"/>
  </node>
</launch>
